/* © Maths Expert 2026 | All rights reserverd. */
/* This online mathematics learning site was created by Pablo Koussa Diaz and Noé T.. */
/* This repository may not be copied; any copying will result in legal action. */
/* The website is actually intented for 8th to 9th Grade | Middle to hight school. */
/* Our goal is to offer free online mathematics revision, as well as advanced lessons covering the high school curriculum. */
/* The images used are not protected. */


body {
    background-color: rgb(0, 0, 0);
    color: white; 
    

    scrollbar-width: thin;
    scrollbar-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #5a5a5a;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dbdbdbac;
}

.welcome {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 70px;
    padding-bottom: 50px;

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.831);
    border-radius: 999px;
    color: white;
    border: 4px solid white;
}

.top-bar {
    background: linear-gradient(rgb(37, 37, 37), rgb(64, 64, 64));
    padding: 5px;
    border-radius: 50px;

}

#top-bar_1 {
    margin-top: -30px;
}

#top-bar_2 {
    margin-top: 30px;
}

.title {
    margin-top: 25px;
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

.introduction-container {
    margin-top: 50px;
    padding: 50px;
    background-color: #ffffff10;
    border-radius: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid hsla(0, 0%, 100%, 0.893)

}

.introduction-text {
    margin-left: auto;
    font-size: 17px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}


.exercice-box {
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border: 4px solid rgb(0, 0, 0);
    border-radius: 20px;
    color: #000000; 
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

textarea {
    border-radius: 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    height: 300px;
    width: 100%;
    box-sizing: border-box;
    resize: vertical;
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.custom-input {
    width: 12px !important;
    height: 11px !important;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    vertical-align: middle;
    padding: 5px 9px;
    margin-top: -3px;
    font-size: 10px;
    white-space: nowrap; 
}

.unityBtn, .unityBtn2, .unityBtn4, .unityBtn5, .unityBtn6, .unityBtn7, .unityBtn8, .unityBtn9, .unityBtn10, .unityBtn11, .unityBtn12 {
    display: inline-flex;
    align-content: center;
    width: 20px;
    height: 25px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    cursor: pointer;
}

#dev-problem-text {
    font-family:Arial, Helvetica, sans-serif;
    font-style:italic;
}


.checkBtn {
    border-style: solid;
    border-radius: 40px;
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    transition: 0.2s;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    user-select: none;
}


.checkBtn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.correction-container {
    display: block;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: left;
}

.correction-container.hidden {
    display: none !important;
}



#UnityBtn-custom-input {
    width: 13px;
    height: 15px;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 25px;
}

#continueBtn {
    border-style: solid;
    border-radius: 40px;
    border-color: rgb(255, 255, 255);
    color: white;
    background-color: #ffffff10;
    padding: 10px;
    position: absolute;
    left: 50%;
    width: 15%;
    margin-top: 20px;
    transform: translateX(-50%) translateY(-50%);
    font-size: 15px;
    transition: 0.2s;
    cursor: pointer;
    user-select: none;
}

#continueBtn:not(:disabled):hover {
    background-color: #ffffff00;
    transform: translateX(-50%) translateY(-50%) scale(1.05);
}

#continueBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    border-color: #ffffff50;
}

#footer {
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#hr-footer {
    margin-top: 100px;
}

#github-logo {
    width: 15px;
    height: 15px;
    margin-left: 30px;
    transition: 0.2s ease;
    cursor: pointer;
    user-select: none;
}

#github-logo:hover {
    transform: scale(1.15)
}