<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercices Développement | Factorisation | Identités remarquables</title>
    <link rel="stylesheet" href="../static/style_exercice.css">
</head>
<body>
    <div class="welcome">
        <div class="top-bar" id="top-bar_1"></div>
        <div class="title">Exercices Développement | Factorisation | Identités remarquables</div>
        <div class="top-bar" id="top-bar_2"></div>
    </div>
    <br><br><br>
    <div class="introduction-container">
        <p id="introduction-text"></p>
    </div>
    <br><br><br>
<div class="introduction-container">
    
        <div class="introduction-text">
            <p>Les factorisations et développements bourrées d'identités remarquables sont au programme de 2nde. D'abord, développe donc cette expression littérale pour te tester : (développe, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(3𝑥 + 4)(5𝑥 - 8)</p>
                <hr>
                
                <div class="unityBtns" data-target="response-1">
                    <button type="button" class="unityBtn">𝑥</button>
                    <button type="button" class="unityBtn">𝑦</button>
                    <button type="button" class="unityBtn">²</button>
                    <button type="button" class="unityBtn">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-1" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="1">Vérifier</button>
                
                <div id="fast-answer-container-1">
                    <p id="fast-answer-1"></p>
                    <div id="correction-container-1" class="correction-container hidden">
                        <p id="correction-dev-1"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="introduction-text" style="margin-top: 50px;">
            <p>Okay super, et maintenant un peu plus compliqué : (développe, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(5 + 7)(5𝑥 - 8)(5𝑥 + 5)</p>
                <hr>
                
                <div class="unityBtns" data-target="response-2">
                    <button type="button" class="unityBtn2">𝑥</button>
                    <button type="button" class="unityBtn2">𝑦</button>
                    <button type="button" class="unityBtn2" >²</button>
                    <button type="button" class="unityBtn2">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-2" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="2">Vérifier</button>
                
                <div id="fast-answer-container-2">
                    <p id="fast-answer-2"></p>
                    <div id="correction-container-2" class="correction-container hidden">
                        <p id="correction-dev-2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="introduction-text" style="margin-top: 50px;">
            <p>Incroyable ! Et maintenant dernier exercice du genre: (développe, réduis et ordonne)</p>
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(2 + x)(8x - 2)(5x + 5x)(4 + 2)</p>
                <hr>
                <div class="unityBtns" data-target="response-3">
                    <button type="button" class="unityBtn3">𝑥</button>
                    <button type="button" class="unityBtn3">𝑦</button>
                    <button type="button" class="unityBtn3" >²</button>
                    <button type="button" class="unityBtn3">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-3" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="3">Vérifier</button>
                
                <div id="fast-answer-container-3">
                    <p id="fast-answer-3"></p>
                    <div id="correction-container-3" class="correction-container hidden">
                        <p id="correction-dev-3"></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="../static/script_exercice.js"></script>
</body>
</html>
