<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercices Développement | Factorisation | Identités remarquables</title>
    <link rel="stylesheet" href="../static/style_exercice.css">
</head>
<body>
    <div class="welcome">
        <div class="top-bar" id="top-bar_1"></div>
        <div class="title">Exercices Développement | Factorisation | Identités remarquables</div>
        <div class="top-bar" id="top-bar_2"></div>
    </div>
    <br><br><br>
    <div class="introduction-container">
        <p id="introduction-text"></p>
    </div>
    <br><br><br>
    <div class="introduction-container">
    
        <div class="introduction-text">
            <p>Les factorisations et développements bourrées d'identités remarquables sont au programme de 2nde. D'abord, développe donc cette expression littérale pour te tester : (développe, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(3𝑥 + 4)(5𝑥 - 8)</p>
                <hr>
                
                <div class="unityBtns" data-target="response-1">
                    <button type="button" class="unityBtn">𝑥</button>
                    <button type="button" class="unityBtn">𝑦</button>
                    <button type="button" class="unityBtn">²</button>
                    <button type="button" class="unityBtn">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-1" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="1">Vérifier</button>
                
                <div id="fast-answer-container-1">
                    <p id="fast-answer-1"></p>
                    <div id="correction-container-1" class="correction-container hidden">
                        <p id="correction-dev-1"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="introduction-text" style="margin-top: 50px;">
            <p>Okay super, et maintenant un peu plus compliqué : (développe, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(5 + 7)(5𝑥 - 8)(5𝑥 + 5)</p>
                <hr>
                
                <div class="unityBtns" data-target="response-2">
                    <button type="button" class="unityBtn2">𝑥</button>
                    <button type="button" class="unityBtn2">𝑦</button>
                    <button type="button" class="unityBtn2" >²</button>
                    <button type="button" class="unityBtn2">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-2" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="2">Vérifier</button>
                
                <div id="fast-answer-container-2">
                    <p id="fast-answer-2"></p>
                    <div id="correction-container-2" class="correction-container hidden">
                        <p id="correction-dev-2"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="introduction-text" style="margin-top: 50px;">
            <p>Incroyable ! Et maintenant dernier exercice du genre: (développe, réduis et ordonne)</p>
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(2 + 𝑥)(8𝑥 - 2)(5𝑥 + 5𝑥)(4 + 2)</p>
                <hr>
                <div class="unityBtns" data-target="response-3">
                    <button type="button" class="unityBtn3">𝑥</button>
                    <button type="button" class="unityBtn3">𝑦</button>
                    <button type="button" class="unityBtn3" >²</button>
                    <button type="button" class="unityBtn3">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-3" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="3">Vérifier</button>
                
                <div id="fast-answer-container-3">
                    <p id="fast-answer-3"></p>
                    <div id="correction-container-3" class="correction-container hidden">
                        <p id="correction-dev-3"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="introduction-container">
    
        <div class="introduction-text">
            <p>Maintenant, continuons avec <em>les factorisations</em>, au lieu de transformer un produit en somme, nous allons faire l'inverse. (réduis et factorise)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">5𝑥 + 35 + 10𝑥</p>
                <hr>
                
                <div class="unityBtns" data-target="response-4">
                    <button type="button" class="unityBtn4">𝑥</button>
                    <button type="button" class="unityBtn4">𝑦</button>
                    <button type="button" class="unityBtn4">²</button>
                    <button type="button" class="unityBtn4">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-4" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="4">Vérifier</button>
                
                <div id="fast-answer-container-4">
                    <p id="fast-answer-4"></p>
                    <div id="correction-container-4" class="correction-container hidden">
                        <p id="correction-dev-4"></p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="introduction-text">
            <p>Super ! Mais en seconde nous te demandrons pas des factorisations aussi basiques, introduisons donc les identités remarquables ! (factorise)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">𝑥² - 9</p>
                <hr>
                
                <div class="unityBtns" data-target="response-5">
                    <button type="button" class="unityBtn5">𝑥</button>
                    <button type="button" class="unityBtn5">𝑦</button>
                    <button type="button" class="unityBtn5">²</button>
                    <button type="button" class="unityBtn5">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-5" placeholder="Ton raisonnement et la réponse (souviens-toi des 3 identités remarquables !)"></textarea>
                <button class="checkBtn" data-target="5">Vérifier</button>
                
                <div id="fast-answer-container-5">
                    <p id="fast-answer-5"></p>
                    <div id="correction-container-5" class="correction-container hidden">
                        <p id="correction-dev-5"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="introduction-text">
            <p>Parfait ! Continuons avec une autre identité remarquable ? (développe, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(5𝑥  + 8)²</p>
                <hr>
                
                <div class="unityBtns" data-target="response-6">
                    <button type="button" class="unityBtn6">𝑥</button>
                    <button type="button" class="unityBtn6">𝑦</button>
                    <button type="button" class="unityBtn6">²</button>
                    <button type="button" class="unityBtn6">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-6" placeholder="Ton raisonnement et la réponse (souviens-toi des 3 identités remarquables !)"></textarea>
                <button class="checkBtn" data-target="6">Vérifier</button>
                
                <div id="fast-answer-container-6">
                    <p id="fast-answer-6"></p>
                    <div id="correction-container-6" class="correction-container hidden">
                        <p id="correction-dev-6"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="introduction-text">
            <p>👌 Une autre du même style ? (développe, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(4x - 2)²</p>
                <hr>
                
                <div class="unityBtns" data-target="response-7">
                    <button type="button" class="unityBtn7">𝑥</button>
                    <button type="button" class="unityBtn7">𝑦</button>
                    <button type="button" class="unityBtn7">²</button>
                    <button type="button" class="unityBtn7">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-7" placeholder="Ton raisonnement et la réponse (souviens-toi des 3 identités remarquables !)"></textarea>
                <button class="checkBtn" data-target="7">Vérifier</button>
                
                <div id="fast-answer-container-7">
                    <p id="fast-answer-7"></p>
                    <div id="correction-container-7" class="correction-container hidden">
                        <p id="correction-dev-7"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="introduction-text">
            <p>Okay pour les identités remarquables, mais te souviens-tu des factorisations du style: (factorise, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(2𝑥 + 3)(𝑥 - 5) + (2𝑥 + 3)(2𝑥 + 1)</p>
                <hr>
                
                <div class="unityBtns" data-target="response-8">
                    <button type="button" class="unityBtn8">𝑥</button>
                    <button type="button" class="unityBtn8">𝑦</button>
                    <button type="button" class="unityBtn8">²</button>
                    <button type="button" class="unityBtn8">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-8" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="8">Vérifier</button>
                
                <div id="fast-answer-container-8">
                    <p id="fast-answer-8"></p>
                    <div id="correction-container-8" class="correction-container hidden">
                        <p id="correction-dev-8"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="introduction-text">
            <p>Et pour les facteurs communs cachés ? 🌥️</p>
            <p>Regarde bien ! (factorise, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(2𝑥 - 3)(𝑥 + 4) - (3 - 2𝑥)(2𝑥 + 1)</p>
                <hr>
                
                <div class="unityBtns" data-target="response-9">
                    <button type="button" class="unityBtn9">𝑥</button>
                    <button type="button" class="unityBtn9">𝑦</button>
                    <button type="button" class="unityBtn9">²</button>
                    <button type="button" class="unityBtn9">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-9" placeholder="Ton raisonnement et la réponse (regarde bien ! Un signe à changer, peut-être ?)"></textarea>
                <button class="checkBtn" data-target="9">Vérifier</button>
                
                <div id="fast-answer-container-9">
                    <p id="fast-answer-9"></p>
                    <div id="correction-container-9" class="correction-container hidden">
                        <p id="correction-dev-9"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="introduction-text">
            <p>Okay c'est bien, et sais-tu t'en sortir avec un facteur sous forme d'identité remarquable ? (factorise, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(𝑥 - 3)(2𝑥 + 5) + (𝑥² - 9)</p>
                <hr>
                
                <div class="unityBtns" data-target="response-10">
                    <button type="button" class="unityBtn10">𝑥</button>
                    <button type="button" class="unityBtn10">𝑦</button>
                    <button type="button" class="unityBtn10">²</button>
                    <button type="button" class="unityBtn10">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-10" placeholder="Ton raisonnement et la réponse"></textarea>
                <button class="checkBtn" data-target="10">Vérifier</button>
                
                <div id="fast-answer-container-10">
                    <p id="fast-answer-10"></p>
                    <div id="correction-container-10" class="correction-container hidden">
                        <p id="correction-dev-10"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="introduction-text">
            <p>Génial ! Et maintenant, le piège très classique, voyons voir comment tu vas t'en sortir... (factorise, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(3𝑥 - 1)² - (3𝑥 - 1)(𝑥 + 7)</p>
                <hr>
                
                <div class="unityBtns" data-target="response-11">
                    <button type="button" class="unityBtn11">𝑥</button>
                    <button type="button" class="unityBtn11">𝑦</button>
                    <button type="button" class="unityBtn11">²</button>
                    <button type="button" class="unityBtn11">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-11" placeholder="Ton raisonnement et la réponse (il faut décomposer avant de commencer...)"></textarea>
                <button class="checkBtn" data-target="11">Vérifier</button>
                
                <div id="fast-answer-container-11">
                    <p id="fast-answer-11"></p>
                    <div id="correction-container-11" class="correction-container hidden">
                        <p id="correction-dev-11"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="introduction-text">
            <p>Bravo ! Enfin un dernier qui mélange identités remarquable, les signes, la totale !... (factorise, réduis et ordonne)</p>
            
            <div class="exercice-box">
                <p class="dev-problem-text" style="font-size: 24px; font-weight: bold;">(4𝑥² - 25) + (2𝑥 + 5)(𝑥 - 3) - (2𝑥 + 5)²</p>
                <hr>
                
                <div class="unityBtns" data-target="response-12">
                    <button type="button" class="unityBtn12">𝑥</button>
                    <button type="button" class="unityBtn12">𝑦</button>
                    <button type="button" class="unityBtn12">²</button>
                    <button type="button" class="unityBtn12">³</button>
                    <input title="Entre le caractère exposant..." type="text" class="custom-input" maxlength="3">
                </div>
                
                <textarea id="response-12" placeholder="Ton raisonnement et la réponse (si tu y arrives, tu as tout compris !)"></textarea>
                <button class="checkBtn" data-target="12">Vérifier</button>
                
                <div id="fast-answer-container-12">
                    <p id="fast-answer-12"></p>
                    <div id="correction-container-12" class="correction-container hidden">
                        <p id="correction-dev-12"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="introduction-container">
        <div class="introduction-text">
            <p>Appuie sur ce bouton dès que tu te sens prêt(e) pour la suite !</p>
            <p>Ps : équations, inéquations !</p>
        </div>
        <button id="continueBtn" disabled>
            Continuer
        </button>
    </div>
    <script src="../static/script_exercice.js"></script>
</body>
</html>
